/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/@angular/material/theming';

@include mat-core();
$solution-app-primary: mat-palette($mat-indigo);
$solution-app-accent: mat-palette($mat-pink, A200, A100, A400);
$solution-app-warn: mat-palette($mat-red);
$solution-app-theme: mat-light-theme($solution-app-primary, $solution-app-accent, $solution-app-warn);

@include angular-material-theme($solution-app-theme);

$solution-app-dark-primary: mat-palette($mat-pink);
$solution-app-dark-accent: mat-palette($mat-grey, A200, A100, A400);
$solution-app-dark-warn: mat-palette($mat-red);
$solution-app-dark-theme: mat-dark-theme($solution-app-dark-primary, $solution-app-dark-accent, $solution-app-dark-warn);

.solution-dark-theme {
  @include angular-material-theme($solution-app-dark-theme);
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button,
  html input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    cursor: pointer;
  }

  button,
  select {
    text-transform: none;
  }

  button {
    overflow: visible;
    padding: 0;
    outline: 0;
  }

  input {
    margin: 0;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 0;
    font: inherit;
    color: inherit;
  }

  a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
  }
}
